.App {
  text-align: center;
  font-family: sans-serif;

}
.green{
  background: forestgreen;
}
.red{
  background: firebrick;
}
body{
  text-align: center;
}

header {
  background-color: #282c34;
padding: 10px 14px;
color: wheat;
  flex-direction: column;
  align-items: center;

}
.d-flex{
  display: flex;
}
.just-between{
  justify-content: space-between;
}
.mx-10{
  margin: 0 10px;
}
